body {
  background-color: lightcyan;
  height: 100vh;
  width: 100vw;
}
.card {
  text-align: center;
}

#position {
  position: fixed;
  margin-bottom: 20px;
  background-color: white;
}
.rounded-circle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  height: 55%;
}

#contact {
  background-color: white;
  /* margin-left: 5px; */
}

label {
  margin-left: 5px;
  font-family: "Anton", sans-serif;
  font-family: "Averia Serif Libre", cursive;
  font-family: "Dela Gothic One", cursive;
  font-family: "Della Respira", serif;
  font-family: "Libre Baskerville", serif;
  font-family: "Martel", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Prompt", sans-serif;
}

#aboutMe {
  padding: 20px;
}

#education {
  padding: 20px;
}

#experience {
  padding: 20px;
}

#skills {
  padding: 20px;
  margin-left: 50px;
}

h1 {
  color: white;
}

p {
  font-family: "Lora", serif;
}

.aboutMe {
  margin-top: 30px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;

  font-family: "Anton", sans-serif;
  font-family: "Dela Gothic One", cursive;
  font-family: "Della Respira", serif;
  font-family: "Martel", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Prompt", sans-serif;
}

#experience {
  text-align: center;
}

#education {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
  font-size: 45px;
}

h5 {
  font-family: "Anton", sans-serif;
  font-family: "Dela Gothic One", cursive;
  font-family: "Merriweather Sans", sans-serif;
}

#projects {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20px;
}

#projects > div {
  background-color: #f1f1f1;
  width: 20px;
  margin: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 15px;
}

#skills{
  margin-left: 100px;
}

.row1 {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 100px;
  /* margin-top: 20px; */
}

.row2 {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 100px;
}

.row1 > img {
  width: 100px;
  margin: 50px;
}

.row2 > img {
  width: 100px;
  margin: 50px;
}

footer {
  background-color: white;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px;
  color: rgb(11, 79, 167);
  font-size: 10px;

  font-family: "Anton", sans-serif;
  font-family: "Dela Gothic One", cursive;
  font-family: "Della Respira", serif;
  font-family: "Martel", serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Prompt", sans-serif;
}