body{
    background-color: lightcyan;
}
.card{
    text-align: center; 
}

.rounded-circle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
}

h1{
    color: white;
}
